$primaryColor: #F9EFEF;
 $secondoryColor:#EDE5F9; 
 $RBTcolor:#5111D8; 
  @mixin d-flex($justify, $direction,$items) {   

    display: flex;    
    justify-content:$justify ;  
   flex-direction: $direction;

    align-items: $items;
} 


@mixin progress-container {
  position: relative;
  height: 8vh;
  width: 20vw;
  @include d-flex(center,row,center);
}

